*
{
	text-decoration: none;
}


html
{
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
}
address
{
	color:green;/*цвет текста*/
	border: 1px solid #000000;/*рамка*/
	font-size:16px;/*размер текста*/
}

body
{
	background-color:#0D0D0D; /*цвет заднего фона*/
	background-image: url('Картинки/1.jpg')  ;
}

[class="links"]
{
	margin:10px;
	color:lime;
}
.links:hover
{
	background-color: lime;
	color: black;
	text-transform: uppercase;
}
.links:visited/*если ты уже переходил по данной ссылке, то будут применены следующиие стили*/
{
	
}



[class="boldtxt"]
{
	font-weight: bold;
}
.boldtxt:active /*при нажатии меняется*/
{
	background-color: lime;
	color: black;
}

[class="button"]
{

}
[class="vis"]
{
	text-align: center;
	font-size: 1.1em;
	padding: 1px;

	background-color: lime;
	color:black;
	font-weight: bold;

}
[class="tabs"]
{
	background-color: lime;
	color:black;
	margin-bottom:10px;
	padding: 15px;

}
.tabs:hover
{
	border:10px solid lime;
	font-size: 25px;
}

#test
{
	background-color: lime;
	color:black;
	padding: 15px;
	border:7px;
}

#testblock
{
	border: 2px solid green;
	height: 40px;
	width: 150px;
	background-color: lime;
	color: black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: -1px;
}